name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          git clone https://github.com/vlang/v /tmp/vlang
          pushd /tmp/vlang
          make && ./v -version
          sudo ./v symlink
          popd
          v --version
      - name: Build
        run: |
          v -prod -stats -shared -cc clang -gc boehm_full .
      - name: Test
        run: |
          v -prod -stats -cc clang -gc boehm_full test .
      - name: Example
        run: |
          pushd examples
          sudo apt install -y libgc-dev
          v install hanabi1224.biginteger
          v -cc clang run pidigits.v 100
          v -cc clang -prod run pidigits.v 100
          v -cc clang -prod -gc boehm_full run pidigits.v 100
